<div class="admin-window" id="checkboxes">
    <h4>Welcome to admin panel</h4><button type="button" (click)="clickTest()">TEST</button>
    <div>
        <p-dropdown [options]="ElementTypes" [(ngModel)]="selectedType" [style]="{'width':'20%'}" (onChange)="onChange($event)">
        </p-dropdown>
        <button type="button" (click)="saveAccConfig()">Save access config</button>
    </div>
    <div class="ui-g">
        <div class="ui-g-3">Документы
            <div>
                <ul>
                    <li *ngFor="let el of things[0]"><input type="checkbox" [(ngModel)]="el.checked" [checked]="el.checked">{{el.name}}</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-3">Счета
            <div>
                <ul>
                    <li *ngFor="let el of things[1]"><input type="checkbox" [(ngModel)]="el.checked" [checked]="el.checked">{{el.name}}</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-3">Корреспонденты
            <div>
                <ul>
                    <li *ngFor="let el of things[2]"><input type="checkbox" [(ngModel)]="el.checked" [checked]="el.checked">{{el.name}}</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-3">Объекты
            <div>
                <ul>
                    <li *ngFor="let el of things[3]"><input type="checkbox" [(ngModel)]="el.checked" [checked]="el.checked">{{el.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4">Разное
            <div>
                <ul>
                    <li *ngFor="let el of things[4]"><input type="checkbox" [(ngModel)]="el.checked" [checked]="el.checked">{{el.name}}</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-4">Подшивки
            <div>
                <ul>
                    <li *ngFor="let el of things[5]"><input type="checkbox" [(ngModel)]="el.checked" [checked]="el.checked">{{el.name}}</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-4">Шаблоны
            <div>
                <ul>
                    <li *ngFor="let el of things[6]"><input type="checkbox" [(ngModel)]="el.checked" [checked]="el.checked">{{el.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ag-grid-angular style="width: 700px; height: 520px;" class="ag-fresh"
    [gridOptions]="gridOptions"
    [rowData]="roleTmls"
    (gridReady)="onGridReady($event)"
    enableSorting
    enableFilter
    rowSelection="single"
    rowHeight="22"
    [pagination]="true" [paginationPageSize]="20">
</ag-grid-angular>

<!-- <ul>
    <li *ngFor="let rtml of roleTmls" style="font-size: 8px;">{{rtml.id}}-{{rtml.name}}</li>
</ul>
<ul>
    <li *ngFor="let tst of test" style="font-size: 8px;">{{tst|json}}</li>
</ul> -->
