<div class="admin-window" id="checkboxes">
    <h4>Welcome to admin panel</h4>
    <div>
        <p-dropdown [options]="ElementTypes" [(ngModel)]="selectedType" [style]="{'width':'20%'}" (onChange)="onChange($event)">
        </p-dropdown>
    </div>
    <div class="ui-g">
        <div class="ui-g-3">Документы
            <div>
                <ul>
                    <li *ngFor="let el of things[0]"><input type="checkbox" [checked]="el.checked">{{el.name}}</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-3">Счета
            <div>
                <ul>
                    <li><input type="checkbox">Основной план счетов</li>
                    <li><input type="checkbox">Производственный план счетов</li>
                    <li><input type="checkbox">Налоговый план счетов</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-3">Корреспонденты
            <div>
                <ul>
                    <li><input type="checkbox">ООО ДГМЗ №2</li>
                    <li><input type="checkbox">Банки</li>
                    <li><input type="checkbox">Поставщики</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-3">Объекты
            <div>
                <ul>
                    <li><input type="checkbox">Товары</li>
                    <li><input type="checkbox">Готовая продукция</li>
                    <li><input type="checkbox">Основные средства</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4">Разное
            <div>
                <ul>
                    <li><input type="checkbox">Торговые марки</li>
                    <li><input type="checkbox">Жирность продукции</li>
                    <li><input type="checkbox">Водители молоковозов</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-4">Подшивки
            <div>
                <ul>
                    <li><input type="checkbox">361</li>
                    <li><input type="checkbox">Экспорт Геркулес</li>
                    <li><input type="checkbox">Договора</li>
                </ul>
            </div>
        </div>
        <div class="ui-g-4">Шаблоны
            <div>
                <ul>
                    <li><input type="checkbox">Операции с кассой</li>
                    <li><input type="checkbox">Банковские операции</li>
                    <li><input type="checkbox">Операции с МБП</li>
                </ul>
            </div>
        </div>
    </div>
</div>
