<div (window:keypress)="dialog.onOpenDlg($event, val.value, selectedType)" class="dropdownLine">
    <p-dropdown [options]="types" [(ngModel)]="selectedType" [style]="{'width':'130px'}"></p-dropdown>
    <input type="text" name="searchEntity" #val pInputText (value)="myValue" myAutofocus
        maxlength=15/>
</div>

<table class="table table-striped" [mfData]="entities" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 10%"></th>
        <th style="width: 20%">
            <mfDefaultSorter by="entNom">Nom</mfDefaultSorter>
        </th>
        <th style="width: 40%">
            <mfDefaultSorter by="entName">Name</mfDefaultSorter>
        </th>
        <th style="width: 10%">
            <mfDefaultSorter by="age">Age</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="unName">City</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>
        <button class="btn btn-danger" title="remove" (click)="removeItem(item)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        </td>
        <td>{{item.entNom}}</td>
        <td>{{item.entName}}</td>
        <td class="text-right">{{item.j_qty}}</td>
        <td>{{item.unName}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
 
<search-entity-dlg #dialog (myEvent)="onGetItem($event)"></search-entity-dlg>