<div (window:keypress)="dialog.onOpenDlg($event, val.value, selectedType)" class="dropdownLine">
    <p-dropdown [options]="types" [(ngModel)]="selectedType" [style]="{'width':'130px'}"></p-dropdown>
    <input type="text" name="searchEntity" #val pInputText (value)="myValue" myAutofocus
        maxlength=15/>
</div>

<table class="table table-striped" [mfData]="entities" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 5%"></th>
        <th style="width: 10%"  class="text-center">
            <mfDefaultSorter by="entNom">Ном.№</mfDefaultSorter>
        </th>
        <th style="width: 70%"  class="text-center">
            <mfDefaultSorter by="entName">Наименование ОУ</mfDefaultSorter>
        </th>
        <th style="width: 5%">
            <mfDefaultSorter by="j_qty">Кол-во</mfDefaultSorter>
        </th>
        <th style="width: 5%">
            <mfDefaultSorter by="j_price">Цена</mfDefaultSorter>
        </th>
        <th style="width: 5%">
            <mfDefaultSorter by="j_sum">Сумма</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>
            <i class="fa fa-trash-o" style="font-size:15px;color:red;margin-left: 4px;" 
                (click)="removeItem(item)" title="удалить"></i>
        <!--<button class="btn btn-danger" title="remove" (click)="removeItem(item)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>-->
        </td>
        <td class="text-center">{{item.entNom}}</td>
        <td class="text-left">{{item.entName}}, {{item.unName}}</td>
        <td class="text-right" contenteditable='true'>{{item.j_qty}}</td>
        <td class="text-right" contenteditable='true'>{{item.j_price}}</td>
        <td class="text-right" contenteditable='true'>{{item.j_sum}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
<search-entity-dlg #dialog (addEntityEvent)="onGetItem($event)"></search-entity-dlg>